/* Contenu */ 
.Introduction 
{
	background-color: black; 
}
.Titre, .Tdgal
{
	color: white; 
	text-align: center; 
}
.TitrePre
{
	font-style: italic;
	color: white;
	text-align: left; 
}
.Image
{
	color: white;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -200px; 
}
.Text
{
	text-align: center;
	color: white; 
	top: 500px;
	left: 300px; 
}
.Tab
{
	color: white; 
    border-collapse: collapse;
    text-align: center;
}


/* Header et Footer */ 
html, body
{
	margin: auto;
	display: table;
	height: 100%; 
	width: 100%; 
}
.Container
{
	height: auto; 
}
footer
{
	display: table-row;
	height: 1px; 
	background-color: black; 
	text-align: center;
}
footer p
{
	color: #fff; 
	font-family: Myriad Pro; 
}
nav ul
{
	padding: 0px;
	margin: 0px;
	list-style-type: none; 
	background-color: #333333; 
}
nav li
{
	display: inline-block; 
	margin: 0px; 
	padding: 0px; 
	width: 100px;
	height: 40px; 
	border-right: 1px solid #CCCCCC; 
	text-align: center; 
	line-height: 40px; 
}
nav li a
{
	display: block;
	text-decoration: none; 
	color: white; 
}
nav li :hover
{
	background-color: #3388BB; 
}
td, th 
{
    border: 1px solid white;

}


/* Menu Galerie */ 
.Galim
{
	width: 100px;
	height: 90px; 
}
.Thgal
{
	font-size: 2em; 
	background-color: black; 
	color: white; 
}
/* .Tdgal
{
	text-align: center; 
	color: white; 
} */
.tabgal
{
	background-color: black; 
	width: 60%;
}
.tdgal
{
	padding: 25px; 
}


/* Lien */ 
.lien
{
	text-decoration: none; 
	color: white; 
}
.lienU
{
	text-decoration: none; 
	color: white; 
	text-align: center;
}
