/* Contenu */ 
.Introduction 
{
	background-color: #2c2c2c; /*Emma 25/04*/
}
.Titre, .Tdgal
{
	font-family: 'Lobster', cursive; /*Emma 25/04*/
	color: white; 
	text-align: center; 
}
.TitrePre
{
	font-family: 'Lobster', cursive; /*Emma 25/04*/
	color: white;
	text-align: left; 
}
.Image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*width: 50%;*/
}
.Text
{
	font-family: 'Roboto Condensed', sans-serif; /*Emma 25/04*/
	text-align: center;
	color: #d7d7d7; /*Emma 25/04*/
	top: 500px;
	padding-left: 12%; 
	padding-right: 12%;
}
.Tab
{
	color: white; 
    border-collapse: collapse;
    text-align: center;
}
.Quote
{
	font-family: 'Advent Pro', sans-serif; /*Emma 25/04*/
	text-align: center;
	color: #e0e0eb; /*Emma 25/04*/
	padding-top: 10px;
	padding-left: 20%; 
	padding-right: 20%;
}

button
{
	background-color: #333333; 
	border: none;
	border-radius: 5px; 
	color: #fff;
	cursor: pointer;
	font-family: monospace;
	font-size: 3em; 
	outline: none;
	padding: 15px; 
	transition: 0.2s; 
}

button:hover 
{ 
	transform: scale(1.01);
}

button:active  
{
	transform: scale(0.99);
}

.Box
{
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 50vh; 
}


blockquote /*Emma 25/04*/
{ 
	padding: 10px; 
	/*à modifier*/
}


/* Header et Footer */ 
html, body
{
	margin: auto;
	display: table;
	height: 100%; 
	width: 100%; 
}
.Container
{
	height: auto; 
}
footer
{
	display: table-row;
	height: 1px; 
	background-color: black; 
	text-align: center;
}
footer p
{
	color: #fff; 
	font-family: Myriad Pro; 
}
nav ul
{
	padding: 0px;
	margin: 0px;
	list-style-type: none; 
	background-color: #333333; 
}
nav li
{
	display: inline-block; 
	margin: 0px; 
	padding: 0px; 
	width: 100px;
	height: 40px; 
	border-right: 1px solid #CCCCCC; 
	text-align: center; 
	line-height: 40px; 
}
nav li a
{
	display: block;
	text-decoration: none; 
	color: white; 
}
nav li :hover
{
	background-color: #3388BB; 
}
td, th 
{
    border: 1px solid white;

}


/* Menu Galerie */ 
.Galim
{
	width: 100px;
	height: 90px; 
}
.Thgal
{
	font-size: 2em; 
	background-color: black; 
	color: white; 
}

.tabgal
{
	background-color: black; 
	width: 60%;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -470px; 
}
.tdgal
{ 
	padding: 25px; 
}


/* Lien */ 
.lien
{
	text-decoration: none; 
	color: white; 
}
.lienU
{
	text-decoration: none; 
	color: white; 
	text-align: center;
}
